asgiref==3.8.1
attrs==24.2.0
Automat==24.8.1
beautifulsoup4==4.12.3
cffi==1.17.1
chardet==5.2.0
constantly==23.10.4
distlib==0.3.8
Django>=4.2
django-bootstrap4==24.4
django-cleanup==9.0.0
django-jazzmin==3.0.0
django-mathfilters==1.0.0
django-widget-tweaks==1.5.0
dnspython==2.7.0
filelock==3.15.4
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
numpy==2.1.0
opencv-python==4.10.0.84
package_name==0.1
pillow==10.4.0
platformdirs==4.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pymongo==4.10.1
pypdf==5.0.1
pyreader==0.0.1
python-dotenv==1.0.1
python-environ==0.4.54
pytz==2024.1
reportlab==4.2.5
requests==2.31.0
setuptools==75.3.0
six==1.16.0
soupsieve==2.6
sqlparse==0.4.4
Twisted==24.10.0
txaio==23.1.1
typing_extensions==4.9.0
tzdata==2023.4
virtualenv==20.26.3
whitenoise==6.7.0
zope.interface==7.1.1
gunicorn
dotenv
django-cors-headers==4.7.0
django-redis==5.2.0
django-storages==1.14.0 